.page 
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    &__container
        width: 100%
        padding-left: 10px
        padding-right: 10px
        margin: 0 auto
        @media (max-width: 1639.98px)
            width: 1200px
        @media (max-width: 1239.98px)
            width: 960px
        @media (max-width: 991.98px)
            width: 720px
        @media (max-width: 767.98px)
            width: 100%

    &__left
        display: flex
        padding: 0 10px
        flex-grow: 0
        flex-shrink: 0
        flex-basis: calc((100% - 1200px) / 2)
        min-height: calc(100vh - 240px)
        @media (max-width: 1639.98px)
            flex-basis: 25%
            max-width: 25%
        @media (max-width: 991.98px)
            display: none
    &__right
        flex: 0 0 1200px
        max-width: 1200px
        padding: 0 10px
        @media (max-width: 1639.98px)
            flex-basis: 75%
            flex-grow: 0
            flex-shrink: 0
            max-width: 75%
        @media (max-width: 991.98px)
            flex-basis: 100%
            max-width: 100%
    &__track 
        transform:  translateY(0px)
        transition: transform .6s ease
        position: relative
    &__nav 
        left: 40px
        max-width: calc((100% - 1200px) / 2 - 40px)
        display: flex
        flex-direction: column
        justify-content: flex-start
        position: fixed
        z-index: 100
        top: 200px
        a  
            margin-bottom: 20px
            font-family: Formular
            @include text_normal
            font-size: 16px 
            line-height: 1.5
            color: $headText
            text-decoration: none
            &.active
                color: $ac !important
            &:hover 
                color: $ac
        &.hist
            a 
                color: #fff
        @media (max-width: 1639.98px)
            left: calc(50% - 600px)
            max-width: 100%
        @media (max-width: 1239.98px)
            left: calc(50% - 480px)
        @media (max-width: 991.98px)
            display: none
    &-section 
        background: #fff
        height: 100vh
        overflow: auto
        overflow-x: hidden
        transition: all .3s ease
        &::-webkit-scrollbar
            width: 0px !important
        &__wrap
            padding: 160px 0 80px
            transform: scale(0.8)
            transition: all .3s ease
            width: 100%
            height: 100vh
        &.active
            .page__nav a 
                color: #fff
            .page-section__wrap
                transform: scale(1)
    &__title
        @include text_normal
        line-height: 1.52
        margin-top: 0
        margin-bottom: 36px
        &_white
            color: #fff
        &_black
            color: $headText
.btn
    @include text_normal
    font-size: 12px
    line-height: normal
    width: 190px
    height: 40px
    text-decoration: none
    display: flex
    align-items: center
    justify-content: center
    &.empty
        border: $main solid 2px
        color: $main
        position: relative
        overflow: hidden
        transition: all 1s ease
        z-index: 2
        &::after
            z-index: -1
            transition: all 0.3s ease
            content: ''
            position: absolute
            background: $main
            width: 190px
            height: 40px
            top: 38px
        &:hover
            color: #fff !important
            &::after
                top: 0px
    &.green
        transition: all 1s ease
        background: #007bff
        color: #fff
        text-align: center
        svg
            margin-left: 6px
            fill: #fff
        &:hover
            background-color: #58ccf7

.page__bot-nav
    margin-top: 30px
    margin-bottom: 100px
    
    
.col-full
    @media (max-width: 1639.98px)
        flex-shrink: 0
        flex-grow: 0
        flex-basis: 100%
        min-width: 100%
//// animation
.anim
    transition: all .3s ease
    transform: translateY(20px)
    opacity: 0
.anim-end
    transform: translateY(0px)
    opacity: 1
